body {
    background-image: url(/img/Rectangle\ 8.png)!important;
    margin: 0;
    /*background-color: #fff;*/
    background-size: cover;
}

header {
    display: flex;
    padding: 0.1%;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #0556B5;
    height: 5%;
    box-sizing: border-box;
    height: 150px;
}

#title {
    color: #FFF;
    font-family: 'Fugaz One', sans-serif;
    font-size: 250%;
    font-weight: 400;
    margin: 0;
    padding: 0;
}


/* #logo {
    width: 130px;
    height: 130px;
    max-width: 100%;
    Ajusta el ancho máximo de la imagen del logo 
    margin-right: 30px;
} */

#logo {
    
    width: 100px;
    height: 100px;
    /* float: left; */
    max-width: 200px; /* Ajusta el ancho máximo de la imagen del logo */
    margin-right: 15px;
    /* display: inline-block; */
    border-radius: 50%;
    box-sizing: border-box;
    
}

#botonera_principal {
    display: flex;
    background-color:#57CAE3;
    list-style: none;
    width: 100%;
    justify-content: center;
    height: 5%;
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    
}

#botonera_principal div{
    width: 100%;
}




#botonera_principal ul {
    display: inline-flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    width: 100%;
    background: #57CAE3;
    list-style-type: none;
    /* Quita los marcadores de lista */
    box-sizing: border-box;
}

#botonera_principal li{
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    text-align: center;

} 


#botonera_principal  a {
    font-family: 'Inter', sans-serif;
    font-size: 160%;
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    width: 100%;
    /* padding: 0.8em 5em; */
}

/* #botonera_principal ul li a {
    display: block;

} */

#botonera_principal ul li:hover {
    color: #FFF;
    background-color: rgb(8, 115, 202);
    cursor: pointer;
}

#botonera_principal ul li a:hover {
    color: #FFF;
    background-color: rgb(8, 115, 202);
}




/* iniciamos el flexbox */

/* #botonera_principal ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#botonera_principal li {
    flex: 1 0 auto;
    text-align: center;

}
nav ul {

    list-style: none; 
    margin-bottom: 100px;
}
 */



     /* COMIENZA FOOTER */

footer{
    background-color: #0556B5;
    width: 100%;
    /* height: 5%; */
    /* padding-top: 1%;
    padding-bottom: 1%; */
    padding: 1%;
    box-sizing: border-box;
}

#datos{
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 2%;
    width: 25%;
    margin-top: 0.1%;
    margin-bottom: 0.1%;
    box-sizing: border-box;
}

#datos p{
    color: #FFF;
    width: 100%;
    font-size: 90%;
    margin: 0;
}

#botonera_principal2{
    display: inline-flex;
    justify-content: center;
    width: 25%;
    margin-top: 0;
    /* margin-left: 3%; */
    height: 0.1%;
    box-sizing: border-box;
  
}

#botonera_principal2 nav{
    display: inline-flex;
} 

#botonera_principal2 ul{
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#botonera_principal2 li{
    margin-top: 2%;
}

#botonera_principal2 a {
    color: #FFF;
    font-family: 'Copse', serif;
    font-family: 'Inter', sans-serif;
    font-size: 130%;
    text-decoration: none;
}

.social{
    font-size: 50px;
    color: #FFF;
    display: inline-flex;
    /* justify-content: center; */
    /* width: 35%; */
    margin-left: 5%;
    align-items: center;
    box-sizing: border-box;

}

.social div{
    display: inline-flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin-left: 5%; */
    /* width: 100%; */
    padding: 3%;
    box-sizing: border-box;
}

.social a{
    display: block;
    margin-right: 6%;
    color: #ccc;
    text-decoration: none;
    font-size: 150%;
    text-align: center;
    box-sizing: border-box;
}

.social a:hover{
    cursor: pointer;
}


#formulario_contacto {
    padding: 10px;
}

h1 {
    font-size: 35px;
    font-family: 'Copse', serif;
    font-family: 'Inter', sans-serif;
}

#datos_personales {
    font-size: 30px;
    font-family: 'Copse', serif;
    font-family: 'Inter', sans-serif;
}

p {
    font-size: 25px;
    font-family: 'Copse', serif;
    font-family: 'Inter', sans-serif;
}

fieldset {
    max-width: 45%;
    border: 1px solid #ccc;
    /* Establece un borde claro */
    padding: 10px;
    /* Espacio interno para separar el contenido del borde */
    background: rgba(255, 255, 255, 0.212);
    /* Establece un fondo transparente con el valor rgba */
}

input {
    width: 100%;
    height: 40px;
    font-size: 25px;
}

legend {
    font-weight: bold;
    font-size: 30px;
    font-family: 'Copse', serif;
    font-family: 'Inter', sans-serif;
}

#sexo {
    font-size: 25px;
    font-family: 'Copse', serif;
    font-family: 'Inter', sans-serif;
}

input,
textarea {
    width: 90%;
    height: 150xp;
    font-size: 25px;
    background-color: rgba(218, 213, 213, 0.377);
    border: 1px solid #ccc;
    /* Puedes personalizar el borde según tus necesidades */
    padding: 5px;
    /* Espacio interno alrededor del campo de entrada */
}

input:focus {
    background: #b7dee8;
}

button {
    color: #e8edf3;
    background-color: #3c8de9cc;
    border: 1px solid #1d7ce9;
    font-size: 25px;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    margin: 0;
    margin-left: 50px;
    justify-content: center;
    /*  para alinearlo al centro */
    cursor: pointer;

}

button:hover {
    background-color: #0d2b49;
    color: #fff;
}

#error{
    color: rgb(236, 12, 12);
    font-size: 35px;
}
.mapa {
    /* display: flex; */
    float: right;
    box-sizing: border-box;
    padding: 20px;
    width: 50%;
    margin-top: 90px;
}

#mapa legend {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Copse', serif;
    font-family: 'Inter', sans-serif;
}

#map {
    width: 900px;
    height: 700px;
}

.fa-brands {
    padding-right: 10px;
}






/* Empieza media tablet */

@media all and (min-width: 600px) and (max-width: 1023px) {

    /* Ajustes para headers */
    header {
        flex-direction: row;
        width: 100%;
        height: auto;
        padding: 10px;
    }

    #title {
        font-size: 2rem;
    }

    #logo {
        width: 90px;
        height: auto;
    }

    #botonera_principal{
        width: auto;
height: 30px;
    }
    #botonera_principal ul li {
        margin: 0 10px;
    }

    #botonera_principal ul li a {
        font-size: 1rem;
        padding: 10px;
    }

    fieldset {
        max-width: 900px;
        border: 1px solid #ccc;
        /* Establece un borde claro */
    }

    input,
    textarea {
        width: 90%;
        height: 150xp;
    }


    button {
        width: 250px;
        height: auto;
        margin-left: 50%;
    }

    #formulario {
        width: 100%;
    }

    .mapa {
        margin-top: 20px;
        width: 100%;


    }

    #mapa {
        display: flex;
        float: none;
        box-sizing: border-box;
        padding: 20px;
        margin-top: 0px;
    }

    .fa-brands {
        padding-right: 10px;
    }
    /* Ajustes para footer */
   
}

/* fin de media tablet */









/* Empieza media mobil */
@media all and (max-width: 599px) {

    body {
        
        margin: 0;
        padding: 0;
        background-size: cover;
    }
    header {
        display: block;
        width: 100%;
        padding: 10px;
        height: auto;
        text-align: center;
        align-items: center;
        box-sizing: content-box;
    }
    
    #title {
        width: 90%;
       font-size: 15px;
        margin-left: 30px;
        padding: 0;
        box-sizing: border-box;
        background-position: center
    }
    
    
    #logo {
        width: 10%;
        height: auto;
        margin-left: 30px;
        box-sizing: border-box;
        background-position: center
    }
    
    #botonera_principal {
        width:100%;
        height:auto;
        float:none;
        margin: 0;
        padding: 0;
        
       
    }
    
    
    .menu-section {
        padding-bottom: 2em;
        margin-bottom: 2em;
    
    }
    
    
    
    #botonera_principal ul {    
    float:none;
        padding: 0;
        margin: 0;
    }
    
    
    #botonera_principal ul a {
       display: block;
        font-size: 25px;
        width: 100%;
        margin-bottom: 5px;
        box-sizing: border-box;
        text-align: center;
        padding: 10px;
    }
    
    
    
    
    
    
    /* iniciamos el flexbox */
    
    #botonera_principal ul {
        display: block;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    #botonera_principal li {
        flex: 1 0 auto;
        text-align: center;
    
    }
    
    
    
    h1 {
        font-size: 25px;
        
    }
    
    #datos_personales {
        font-size: 20px;
        
    }
    
    p {
        font-size: 90%;
      
    }
    
    fieldset {
        max-width: 100%;
       
        /* Establece un borde claro */
        padding: 10px;
        /* Espacio interno para separar el contenido del borde */
       }
    
    input {
        width: 100%;
        height: 20px;
        font-size: 20px;
    }
    
    legend {
       
        font-size: 20px;
        
    }
    
    #sexo {
        font-size: 15px;
       
    }
    
    input,
    textarea {
        width: 90%;
        height: 150xp;
        font-size: 20px;
        
        
        padding: 5px;
        /* Espacio interno alrededor del campo de entrada */
    }
    
    
    
    button {
        margin-left: 40%;
        font-size: 15px;
        border-radius: 10px;
        width: 100px;
        height: 30px;
        
        /*  para alinearlo al centro */
        cursor: pointer;
    }
    
  
    
    
    
    .mapa {
        /* display: flex; */
        float: right;
        box-sizing: border-box;
        padding: 20px;
        width: 100%;
        margin-top: 90px;
    }
    
    #mapa legend {
        margin-bottom: 30px;
        font-size: 20px;

    }
    
    #map {
        width: 400px;
        height: 400px;
    }
    
    footer {
        display: block;
        align-items: center;
    
        height: 350px;
        background-color: #0556B5;
        justify-content: space-between;
    }
    
    #datos {
        flex: 1;
        color: #FFF;
        width: 100%;
        height: auto;
        margin: 0;
        padding-left: 30px;
        margin-bottom: 2%;
    }
    
    #botonera_principal2 {
        padding-left: 30px;
        justify-content: start;
        flex: 1;
        text-align: start;
        /* float: right; */
        width: 100%;
        height: auto;
        margin: 0;
        margin-bottom: 2%;
    
    }
    
    #botonera_principal2 nav ul li a {
        font-size: 20px;
    }
    
    nav ul {
        /* quita los marcadores alñ costado de los navegadores */
        list-style: none;
        margin-bottom: 0;
    }
    
    .social {
        flex: 1;
        color: #ccc;
        font-size: 50px;
    }
    .fa-brands {
        padding-right: 10px;
    }

    .fa-brands:hover {
        color: #fff;

    }
    
    @media screen and(min-width: 52em) {
        #botonera_principal {
            max-width: 52em;
        }
    }
    
    /* se inicia con flexbox */
    #botonera_principal ul {
        display: block;
        flex-wrap: wrap;
        justify-content: normal;
    }
    
    
}
