body {
    background-image: url(../img/Rectangle\ 8.png);
    margin: 0;
}

header {
    display: flex;
    padding: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color:#0556B5 ;
    width: 2631px;
    height: 200px;
}

#title {
    color: #FFF;
    font-family: 'Fugaz One', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
}

#title {
    margin: 0;
    padding: 0;  
}

#logo {
     width: 130px;
    height: 130px;
    /* float: left; */
    max-width: 200px; /* Ajusta el ancho máximo de la imagen del logo */
    margin-right: 30px;
    /* display: inline-block; */
}

#botonera_principal {
    margin: 0 auto;
    padding: 0 1em;
    /* width: 2670px;
    background-color: #57CAE3;
    /* text-align: center; */
    /*height: 30px;
    padding-bottom: 2em;
    margin-bottom: 2em; */
    border-bottom: 0px solid #57CAE3;
}

@media screen and(min-width: 52em) {
   #botonera_principal {
    max-width: 100em;
   } 
 }/* fin media */

 .menu-section {
    padding-bottom: 2em;
    margin-bottom: 2em;

 }



#botonera_principal ul {
    background:#57CAE3;
    list-style-type: none;
    /* Quita los marcadores de lista */
    padding: 0;
    margin: 0;  
}

#botonera_principal ul li {
    /* display: block; */
    /* margin: 0 20px; */
}

#botonera_principal ul a {
    font-family: 'Fugaz One', sans-serif;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
     /* background-color: #57CAE3; */
    color: #FFF;   
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
    /* margin: 130px;
    padding: 15px; */
}

#botonera_principal ul li a {
    display: block;
    /* width: 150px;
    height: 30px; */
    /* text-align: center; */
    /* .6em es arriba abajo 1 em es izq y der */
    padding: .8em 5em;
    
}

#botonera_principal ul li a:hover {
    color: #FFF;
    background-color: rgb(8, 115, 202);
}




/* iniciamos el flexbox */

#botonera_principal ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#botonera_principal li {
    flex: 1 0 auto;
    text-align: center;

}

#formulario_contacto {
    padding: 10px;
}

h1 {
    font-size: 35px;
    font-family: 'Copse', serif;
    font-family: 'Fugaz One', sans-serif;
    font-family: 'Inter', sans-serif;
}

#datos_personales {
    font-size: 30px;
    font-family: 'Copse', serif;
    font-family: 'Fugaz One', sans-serif;
    font-family: 'Inter', sans-serif;
}

p {
    font-size: 25px;
    font-family: 'Copse', serif;
    font-family: 'Fugaz One', sans-serif;
    font-family: 'Inter', sans-serif;
}

fieldset {
    max-width: 600px;
    border: 1px solid #ccc;
    /* Establece un borde claro */
    padding: 10px;
    /* Espacio interno para separar el contenido del borde */
    background: rgba(255, 255, 255, 0.212);
    /* Establece un fondo transparente con el valor rgba */
}

input {
    width: 100px;
    height: 40px;
    font-size: 25px;
}

legend {
    font-size: 25px;
    font-family: 'Copse', serif;
    font-family: 'Fugaz One', sans-serif;
    font-family: 'Inter', sans-serif;
}

#sexo {
    font-size: 25px;
    font-family: 'Copse', serif;
    font-family: 'Fugaz One', sans-serif;
    font-family: 'Inter', sans-serif;
}

input,
textarea {
    width: 1000px;
    height: 150xp;
    font-size: 25px;
    background-color: rgba(218, 213, 213, 0.377);
    border: 1px solid #ccc;
    /* Puedes personalizar el borde según tus necesidades */
    padding: 5px;
    /* Espacio interno alrededor del campo de entrada */
}

input:focus {
    background: #b7dee8;
}
 button {
    color: #e8edf3;
    background-color: #3c8de9cc;
    border: 1px solid #1d7ce9;
    font-size: 25px;
    border-radius: 10px;
    width: 250px;
    height: 50px;
    margin-left: 300px;
     cursor: pointer;
    transition: background-color 0.3s, color 0.5s;
 }
button:hover {
    background-color: #0d2b49;
    color: #fff;
}
 #mapa {
    display: flex;
    float: right;
    box-sizing: border-box;
    padding: 20px;
    width: 50%;
    margin-top: 90px;
 }

 #mapa legend {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Copse', serif;
    font-family: 'Fugaz One', sans-serif;
    font-family: 'Inter', sans-serif;
 }

#datos {
    flex: 1;
    color: #FFF;
    background-color: #0556B5;
    width: 600px;
    height: 141px;
    padding-left: 30px;
    margin-bottom: 100px;
    /* flex-shrink: 0; */
}

footer {
    display: flex;
    align-items: center;
    width: 2700px;
    height: 350px;
    background-color: #0556B5;
    justify-content: space-between;
}

#botonera_principal2 {
    flex: 1;
    float: right;
    background-color: #0556B5;
    width: 0px;
    height: 280px;
    margin-top: 50px;

}

#botonera_principal2 nav ul li a {
    color: #FFF;
    font-family: 'Copse', serif;
    font-family: 'Fugaz One', sans-serif;
    font-family: 'Inter', sans-serif;
    font-size: 30px;
}
 
nav ul {
    /* quita los marcadores alñ costado de los navegadores */
    list-style: none; 
    margin-bottom: 100px;
}

.social {
    flex: 1;
    color: #ccc;
    font-size: 50px;
}

@media screen and(min-width: 52em) {
    #botonera_principal {
        max-width: 52em;
    }
}
/* se inicia con flexbox */
#botonera_principal ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}














